<h1>Eat-A-Burger!</h1>

<img src="../public/assets/img/Big-hamburger-icon-graphic-illustration/in-use/8060.eps" alt="burger">




<button type="submit">Add a Burger</button>

<a href="https://www.freepik.com/free-photos-vectors/food">Food vector created by Rawpixel.com - Freepik.com</a>